/* globals.css or style.scss */

  /* global.css or style.scss */
.hover-effect:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  }
  .gallery-card {
    background: rgb(0, 162, 255);
    backdrop-filter: blur(8px);
    border: 1px solid rgb(138, 197, 253);
    border-radius: 16px;
    padding: 3px;
    transition: all 0.3s ease;
    cursor: grab;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery-card:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1);
    cursor: grabbing;
  }
  
  .gallery-img {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 170px;
    transition: transform 0.3s ease;
  }
  
  /* Optional: Pulse animation effect */
  .gallery-card:hover .gallery-img {
    transform: scale(1.015);
  }
  